.content-arcada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 1rem;

}


.content-img-arcada {
    width: 100%;
    height: auto;
}