# EditorConfig ajuda a manter estilos de codificação consistentes
# Documentação: https://editorconfig.org

root = true

# Arquivos JavaScript, JSX, TypeScript, TSX
[*.{js,jsx,ts,tsx}]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Arquivos JSON e YAML
[*.{json,yml,yaml}]
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Arquivos CSS, SCSS
[*.{css,scss}]
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Arquivos Markdown
[*.md]
trim_trailing_whitespace = false
insert_final_newline = true

# Arquivos HTML
[*.html]
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true