* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --verde: #A6CE39;
    --azul: #0095DA;
    --amarelo: #FFCB04;
    --rosa: #F6ADCD;
    --roxo: #6B4E7B;

    --verde-bg: #F1F7DF;
    --azul-bg: #D5E4F5;
    --amarelo-bg: #FFF1DA;
    --rosa-bg: #FEF3F8;
    --roxo-bg: #E5CAD9;

    --font-color: #08385E;

    --col-space-gap: 0.5rem;
    --col-space-1: 2rem;
    --col-space-2: 7rem;

    --row-space-gap: 0.5rem;
    --row-space-1: 2rem;
    --row-space-2: 7rem;

}

.parent {
    display: grid;
    /* Correto */
    grid-template-columns: var(--col-space-1) var(--col-space-1) var(--col-space-2) var(--col-space-1) var(--col-space-1) var(--col-space-1) var(--col-space-gap) var(--col-space-1) var(--col-space-gap) var(--col-space-1) var(--col-space-gap) var(--col-space-1) var(--col-space-gap) var(--col-space-2) var(--col-space-2) var(--col-space-2) var(--col-space-gap) var(--col-space-2) var(--col-space-2) var(--col-space-2) var(--col-space-2) var(--col-space-2) var(--col-space-2) var(--col-space-2);
    grid-template-rows: var(--row-space-1) var(--row-space-gap) var(--row-space-1) var(--row-space-gap) var(--row-space-1) var(--row-space-gap) var(--row-space-1) var(--row-space-gap) var(--row-space-1) 14rem var(--row-space-gap) var(--row-space-1) var(--row-space-2) var(--row-space-2) var(--row-space-2) var(--row-space-gap) var(--row-space-2) var(--row-space-gap) var(--row-space-1) var(--row-space-gap) var(--row-space-1) var(--row-space-2) var(--row-space-2) var(--row-space-2);

    /* height: 100vh; */
    color: var(--font-color);
}

.verde1 {
    grid-column: span 13 / span 13;
}

.verde2 {
    grid-column: span 11 / span 11;
    grid-row: span 9 / span 9;
    grid-column-start: 14;
    grid-row-start: 2;
}

.verde3 {
    grid-column: span 11 / span 11;
    grid-row: span 1 / span 1;
    grid-column-start: 14;
    grid-row-start: 1;
}

.azul1 {
    /* display: flex; */
    grid-column: span 11 / span 11;
    grid-row-start: 3;
}

.azul2 {
    grid-row: span 9 / span 9;
    grid-column-start: 12;
    grid-row-start: 3;
    background-color: var(--verde-bg);
}

.azul3 {
    grid-column: span 13 / span 13;
    grid-row: span 1 / span 1;
    grid-column-start: 12;
    grid-row-start: 12;
}

.azul4 {
    grid-column: span 13 / span 13;
    grid-row: span 5 / span 5;
    grid-column-start: 12;
    grid-row-start: 13;
}

.amarelo1 {
    grid-column: span 10 / span 10;
    grid-column-start: 1;
    grid-row-start: 5;
}

.amarelo2 {
    grid-row: span 15 / span 15;
    grid-column-start: 10;
    grid-row-start: 5;
}

.amarelo3 {
    grid-column: span 5 / span 14;
    grid-column-start: 11;
    grid-row-start: 19;

    background-color: var(--amarelo);
}

.amarelo4 {
    grid-column: span 5 / span 7;
    grid-row: span 5 / span 5;
    grid-column-start: 18;
    grid-row-start: 20;
}

.rosa1 {
    grid-column: span 6 / span 8;
    grid-column-start: 1;
    grid-row-start: 7;
}

.rosa2 {
    grid-row: span 14 / span 14;
    grid-column-start: 8;
    grid-row-start: 7;
}

.rosa3 {
    grid-column: span 9 / span 9;
    grid-row: span 4 / span 4;
    grid-column-start: 8;
    grid-row-start: 21;
}

.rosa4 {
    grid-row: span 1 / span 1;
    grid-row-start: 21;
    grid-column: span 9 / span 9;
    grid-column-start: 8;
}

.roxo1 {
    grid-column: span 6 / span 6;
    grid-column-start: 1;
    grid-row-start: 9;

}

.roxo2 {
    grid-row: span 12 / span 12;
    grid-column-start: 6;
    grid-row-start: 9;
}

.roxo3 {
    grid-column: span 5 / span 5;
    grid-column-start: 2;
    grid-row: span 3 / span 3;
    grid-row-start: 22;
}

.roxo4 {
    grid-row: span 1 / span 1;
    grid-row-start: 21;
    grid-column: span 5 / span 5;
    grid-column-start: 2;
}

.verde {
    background-color: var(--verde);
    display: flex;
}

.azul {
    background-color: var(--azul);
}

.amarelo {
    background-color: var(--amarelo);
}

.rosa {
    background-color: var(--rosa);
}

.rosa3 {
    background-color: var(--rosa-bg);
}

.verde2{
    background-color: var(--verde-bg);
    > div {
        height: 100%;
    }
}

.roxo {
    background-color: var(--roxo);
}

.roxo3 {
    background-color: var(--roxo-bg);
}

.amarelo4 > div{
    height: 100%;
}

.azul4 > div{
    height: 100%;
}

.rosa3 > div{
    height: 100%;
}

.roxo3 > div{
    height: 100%;
}

.titulo {
    display: flex;

    h1 {
        font-size: 16px;
        color: var(--font-color);
        height: 100%;
        margin: 0;
        background-color: #fff;
        padding-right: 10px;
        text-transform: uppercase;
    }
}

.verde1-barra {
    background: var(--verde);
    width: 85%;
    height: 1.5rem;
}

.azul-caminho1 {
    height: 100%;
    background-color: var(--azul);
}


.radiografia-barra {
    background-color: var(--azul);
    width: 100%;
}