:root {
    --verde: #F1F6DF;
    --verde-titulo: #A6CE39;
    --azul-texto: #2B4665;

    --azul-principal: #0098DB;
    --azul-claro: #D5E4F5;
    --azul: #d5e4f5;
    --amarelo: #FFCC2A;
    --rosa: #F6B0CE;
    --roxo: #715880;


    --azul-bg: #D5E4F5;
    --verde-bg: #F1F7DF;
    --amarelo-bg: #FFF1DA;
    --rosa-bg: #FEF3F8;
    --roxo-bg: #E5CAD9;




    --verde: #A9D046;
    --azul: #0098DB;
    --amarelo: #FFCC2A;
    --rosa: #F6B0CE;
    --roxo: #715880;
    --font-color: #2B4665;

    --verde-bg: #F1F7DF;
    --azul-bg: #D5E4F5;
    --amarelo-bg: #FFF1DA;
    --rosa-bg: #FEF3F8;
    --roxo-bg: #E5CAD9;
}

/* Reset de listas */
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0 !important;
}

img {
    width: 100%;
}

.img-seta {
    display: flex;

    align-items: center;
    width: 100%;
    height: 50%;

}

.img-seta img {
    max-width: 3rem;
    height: 3rem;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem
}

/* Grid principal */
.grid-container {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: end;
    justify-items: end;
    height: 100vh;
    padding-top: 1rem;
    font-family: sans-serif;
}

/* Sidebar */
.sidebar {
    grid-row: 1 / 4;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-right: 1rem;
    font-weight: bold;
    font-size: 18px;

}

/* Estilo para cada item da lista */
.item-tomografia {
    color: var(--azul-texto);
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 10px;
}

.item-radiografia {
    position: relative;
    padding: 10px 10px 10px 15px;
    background-color: white;
    color: var(--azul-texto);
    font-size: 1.2rem;
    margin-bottom: 10px;

}

/* Borda deslocada à direita */
.item-radiografia::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 88%;
    height: 100%;
    background-color: var(--azul-principal);
    transform: translateX(100%);
    z-index: 9999;
}

/* Borda deslocada à direita */
.item-documentacao {
    position: relative;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

/* Faixa vertical deslocada à direita */
.item-documentacao::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: var(--amarelo);
    transform: translateX(114%);
    z-index: 9999;
}


/* Borda deslocada à direita */
.borda-esquerda-documentacao::before {
    content: "";
    position: absolute;
    top: 7rem;
    right: 0;
    width: 2%;
    height: 63%;
    background-color: var(--amarelo);
    transform: translateX(-4284%);
    z-index: 9999;
}



.sidebar ul li:nth-child(4) {
    background-color: var(--roxo);
    color: white;
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 5px;
}

.sidebar ul li:nth-child(5) {
    background-color: var(--rosa);
    color: black;
    font-size: 0.95rem;
    padding: 10px;
    margin-bottom: 5px;
}

/* Conteúdo geral da tomografia */
.content-tomografia {
    color: var(--azul-texto);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: white;
    position: relative;
}

/* Título da tomografia */
.titulo-tomografia {
    position: relative;
    overflow: visible;
    width: 100%;
    color: white;
    height: 30px;
    text-align: center;
    z-index: 2;
}

.titulo-tomografia h2 {
    position: absolute;
    height: 30px;
    z-index: 2;
    left: -127px;
    width: calc(100% + 125px);
    font-size: 28px;
    margin: 0;
    color: white;
    background: var(--verde-titulo);
}

.titulo-documentacao h2 {
    position: relative;
    overflow: visible;
    width: 100%;
    font-weight: bold;
    text-align: center;
    z-index: 2;
    font-size: 1.5rem;
    color: white;
    top: ;
}


.tomografia-content {
    position: relative;
    flex: 1;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: var(--verde-bg);
    z-index: 9999;
}

.tomografia-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background-color: var(--verde-destaque);
    transform: translateX(-100%);
    z-index: 9999;
}

/* Borda inferior e lateral esquerda */
.border-tomografia {
    position: relative;
    width: 95%;
    border-bottom: 30px solid var(--azul-principal);
    padding-left: 30px;
    box-sizing: border-box;
}



/* Borda esquerda simulada */
.borda-esquerda {
    position: absolute;
    top: 14%;
    left: 0;
    width: 30px;
    height: 86%;
    background-color: var(--azul-principal);
    z-index: 1;
}

.tomografia-grid,
.Radiografia-grid {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    gap: 1px;
    padding: 1rem;
    word-break: break-word;
    white-space: nowrap;
}

.tomografia-grid>* {
    box-sizing: border-box;
}

.tomografia-grid ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tomografia-grid li {
    margin-bottom: 5px;
    flex-wrap: nowrap;

}

.parentheses {
    display: flex;
    align-items: center;
    word-break: break-word;
    flex-wrap: nowrap;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--azul-texto);
}

.parentheses label {
    flex-wrap: nowrap !important;
}

.parentheses input[type="checkbox"] {
    display: none;
}

.symbol {
    width: 30px;
    display: inline-block;
    font-family: monospace;
    font-weight: bold;
    color: var(--azul-texto);
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}

.texto {
    flex: 1;
    word-break: break-word;
    white-space: nowrap;

}

#item-altissima .texto {
    word-break: keep-all;
    overflow-wrap: break-word;
}

/* Estado padrão: ( ) */
.parentheses input[type="checkbox"]+.symbol::before {
    content: "( )";
}

/* Estado marcado: (✓) */
.parentheses input[type="checkbox"]:checked+.symbol::before {
    content: "(✓)";
}

.item-ul {
    position: relative;

    border-right: 1px solid var(--azul-texto);
}

.item-ul li {
    display: flex;
    align-items: center;
    margin-right: 1rem;

}

/* Borda superior parcial */
.item-ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 85px;
    width: 61%;
    height: 1px;
    background-color: var(--azul-texto);
}

/* Borda inferior parcial */
.item-ul::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 58%;
    height: 1px;
    background-color: var(--azul-texto);
}

.linha-simples {
    border: none;
    outline: none;
    width: 77%;
    height: 13px;
    margin-left: 0.3rem;
    border-bottom: 1px solid var(--azul-texto);
    background-color: transparent;
}

.linha-simples1 {
    border: none;
    outline: none;
    width: 65%;
    height: 13px;
    margin-left: 0.3rem;
    border-bottom: 1px solid var(--azul-texto);
    background-color: transparent;
}

.linha-horizontal {
    display: inline-block;
    margin-left: 8px;
    color: var(--azul-texto);
    font-weight: normal;
    letter-spacing: 2px;
    flex-grow: 1;
    height: 1px;
    background-color: var(--azul-texto);
    width: 12rem;
}

.texto-com-linha {
    display: inline-block;
}

.texto-com-linha::after {
    content: "";
    position: absolute;
    top: 41%;
    left: 91%;
    width: 2rem;
    height: 1px;
    background-color: var(--azul-texto);
    transform: translateY(-50%);
}

.segunda-col {
    height: 84%;
    border-left: 1px solid var(--azul-texto);
}

.item-ul-segunda {
    margin-left: 10px !important;
}


.linha-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.terceira-col {
    border-left: 1px solid var(--azul-texto);
    height: 31%;
    word-break: break-word;
    white-space: nowrap;
}



.content-terceira-col {
    display: flex;
}

.item-ul-terceira li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.item-ul-terceira {
    margin-left: 10px !important;
}

.terceira-coluna {
    position: relative;
}

.terceira-coluna::after {
    content: "";
    position: absolute;
    right: 0;
    top: 23px;
    height: 87px;
    width: 1px;
    background-color: var(--azul-texto);
}

.linha-completa {
    display: flex;
    align-items: flex-start;
}

.bloco-texto {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: flex-start;
}

.linha-abaixo {
    height: 1px;
    background-color: var(--azul-texto);
    width: 2rem;
}

.text-modificado {
    font-size: 10px;
    font-weight: bold;
}


.linha-flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.linha {
    height: 1px;
    background-color: var(--azul-texto);
}

.segunda {
    width: 2rem;
    margin-left: 8rem;
}

.quarta-coluna {
    margin-left: 2rem;
}

.content-img {
    margin-top: .6rem;
}

.texto-alinhado {
    text-align: justify;
    align-items: baseline;
}

.content-radiografia {
    width: 95%;
}

.radiografia-content {
    height: 100%;
    text-align: center;
    background-color: var(--azul-bg);
}

.titulo-rodigrafia {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    position: relative;
    top: -1.8rem;
    margin: 0;
}

#osteoporose {
    text-align: justify;
}


.linha-checkboxes {
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.coluna-esquerda {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.coluna-direita {
    margin-top: 2rem;

}














@media (max-width: 1200px) {


    
.titulo-tomografia h2{
    left: -113px;
    width: calc(100% + 140px);
    font-size: 28px;
}
    .item-radiografia::after {
        width: 80%;
    }

    .item-documentacao::after {
        width: 45%;

    }

    .borda-esquerda-documentacao::before {
        height: 61%;
        background-color: var(--amarelo);
        transform: translateX(-4387%);
    }


    .borda-documentaçao {

        margin-left: -29px;
        margin-top: 0.5rem;
        width: calc(100% + 35px);
    }


}