.custom-checkbox {
  width: 100%;
  font-weight: bold;
  font-size: var(--fonte-sm);
  padding-bottom: 0.3rem;
}

.checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: Arial, sans-serif;
  user-select: none;
  position: relative;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
  z-index: 2;
}

.checkbox-custom {
  width: 20px;
  height: 20px;
  border-left: 3px solid #222;
  border-right: 3px solid #222;
  border-radius: 5px;
  margin-right: 10px;
  position: relative;
  transition: all 0.3s;
  z-index: 1;
}

/* O input está antes do span, então usa ~ para o irmão depois */
.checkbox-input:checked ~ .checkbox-custom {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.checkbox-input:checked ~ .checkbox-custom::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-input:disabled ~ .checkbox-custom {
  opacity: 0.6;
  cursor: not-allowed;
}
