:root {
    --verde: #F1F6DF;
    --verde-titulo: #A6CE39;
    --azul-texto: #2B4665;

    --azul-principal: #0098DB;
    --azul-claro: #D5E4F5;
    --azul: #d5e4f5;
    --amarelo: #FFCC2A;
    --rosa: #F6B0CE;
    --roxo: #715880;

    --verde: #A9D046;
    --azul: #0098DB;
    --amarelo: #FFCC2A;
    --rosa: #F6B0CE;
    --roxo: #715880;
    --font-color: #2B4665;

    --verde-bg: #F1F7DF;
    --azul-bg: #D5E4F5;
    --amarelo-bg: #FFF1DA;
    --rosa-bg: #FEF3F8;
    --roxo-bg: #E5CAD9;
}

/* Reset de listas */
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0 !important;
}

img {
    width: 100%;
}

.img-seta {
    display: flex;

    align-items: center;
    width: 100%;
    height: 50%;

}

.img-seta img {
    max-width: 3rem;
    height: 3rem;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem
}

/* Grid principal */
.grid-container {
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: end;
    justify-items: end;
    padding-top: 1rem;
    font-family: sans-serif;
}

/* Sidebar */
.sidebar {
    grid-row: 1 / 4;
    display: flex;
    width: 100%;
    padding-left: 0.9rem;
    font-weight: bold;
    font-size: 18px;


}

/* Estilo para cada item da lista */
.item-tomografia {
    color: var(--azul-texto);
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;

}

.item-radiografia {
    position: relative;
    padding: 10px 10px 10px 15px;
    background-color: white;
    color: var(--azul-texto);
    margin-bottom: 10px;
    font-weight: bold;


}



/* Faixa vertical deslocada à direita */
.item-documentacao::after {
    content: "";
    position: absolute;
    top: 7px;
    right: 0;
    width: 42%;
    height: 100%;
    background-color: var(--amarelo);
    transform: translateX(81px);
    z-index: 9999;

}

.sidebar ul li:nth-child(4) {
    color: var(--azul-texto);
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
}

.sidebar ul li:nth-child(5) {
  
    color:var(--azul-texto);
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
}

/* Conteúdo geral da tomografia */
.content-tomografia {
    color: var(--azul-texto);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: white;
    position: relative;
}

/* Título da tomografia */
.titulo-tomografia {
    position: relative;
    overflow: visible;
    width: 100%;
    color: white;
    height: 35px;
    text-align: center;
    z-index: 2;
}

.titulo-tomografia h2 {
    position: absolute;
    height: 35px;
    z-index: 2;
    left: -127px;
    width: calc(100% + 125px);
  font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: white;
    background: var(--verde-titulo);
}

.titulo-documentacao {
    font-size: 1.5rem;
    height: 0;
    top: -33px;
    color: white;
    font-weight: bold;
    position: relative;
    margin: -5px;
    text-align: center;
    align-self: center;

}


.tomografia-content {
    position: relative;
    flex: 1;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: var(--verde-bg);
    z-index: 9999;
}


.tomografia-grid,
.Radiografia-grid {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    gap: 1px;
    padding: 1rem;
    word-break: break-word;
    white-space: nowrap;
}

.tomografia-grid>* {
    box-sizing: border-box;
}

.tomografia-grid ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tomografia-grid li {
    margin-bottom: 5px;
    flex-wrap: nowrap;

}

.parentheses {
    display: flex;
    align-items: center;
    word-break: break-word;
    flex-wrap: nowrap;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--azul-texto);
}

.parentheses label {
    flex-wrap: nowrap !important;
}

.parentheses input[type="checkbox"] {
    display: none;
}

.symbol {
    width: 30px;
    display: inline-block;
    font-family: monospace;
    font-weight: bold;
    color: var(--azul-texto);
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}

.texto {
    flex: 1;
    word-break: break-word;
    white-space: nowrap;

}

#item-altissima .texto {
    word-break: keep-all;
    overflow-wrap: break-word;
}

/* Estado padrão: ( ) */
.parentheses input[type="checkbox"]+.symbol::before {
    content: "( )";
}

/* Estado marcado: (✓) */
.parentheses input[type="checkbox"]:checked+.symbol::before {
    content: "(✓)";
}

.item-ul {
    position: relative;

    border-right: 1px solid var(--azul-texto);
}

.item-ul li {
    display: flex;
    align-items: center;
    margin-right: 1rem;

}



.linha-simples {
    border: none;
    outline: none;
    width: 77%;
    height: 13px;
    margin-left: 0.3rem;
    border-bottom: 1px solid var(--azul-texto);
    background-color: transparent;
}

.linha-simples1 {
    border: none;
    outline: none;
    width: 65%;
    height: 13px;
    margin-left: 0.3rem;
    border-bottom: 1px solid var(--azul-texto);
    background-color: transparent;
}

.linha-horizontal {
    display: inline-block;
    margin-left: 8px;
    color: var(--azul-texto);
    font-weight: normal;
    letter-spacing: 2px;
    flex-grow: 1;
    height: 1px;
    background-color: var(--azul-texto);
    width: 12rem;
}

.texto-com-linha {
    display: inline-block;
}

.texto-com-linha::after {
    content: "";
    position: absolute;
    top: 41%;
    left: 91%;
    width: 2rem;
    height: 1px;
    background-color: var(--azul-texto);
    transform: translateY(-50%);
}

.segunda-col {
    height: 84%;
    border-left: 1px solid var(--azul-texto);
}

.item-ul-segunda {
    margin-left: 10px !important;
}


.linha-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.terceira-col {
    border-left: 1px solid var(--azul-texto);
    height: 31%;
    word-break: break-word;
    white-space: nowrap;
}



.content-terceira-col {
    display: flex;
}

.item-ul-terceira li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.item-ul-terceira {
    margin-left: 10px !important;
}

.terceira-coluna {
    position: relative;
}

.terceira-coluna::after {
    content: "";
    position: absolute;
    right: 0;
    top: 23px;
    height: 87px;
    width: 1px;
    background-color: var(--azul-texto);
}

.linha-completa {
    display: flex;
    align-items: flex-start;
}

.bloco-texto {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: flex-start;
}

.linha-abaixo {
    height: 1px;
    background-color: var(--azul-texto);
    width: 2rem;
}

.text-modificado {
    font-size: 10px;
    font-weight: bold;
}


.linha-flex {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    position: relative;
}

.linha {
    height: 1px;
    background-color: var(--azul-texto);
}

.segunda {
    width: 2rem;
    margin-left: 8rem;
}

.quarta-coluna {
    margin-left: 2rem;
}

.content-img {
    margin-top: .6rem;
}

.texto-alinhado {
    text-align: justify;
    align-items: baseline;
}

.content-radiografia {
    width: 95%;
}

.radiografia-content {
    height: 90%;
    text-align: center;
    background-color: var(--azul-bg);
}

.titulo-rodigrafia {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    position: relative;
    top: -1.8rem;
    margin: 0;
}

#osteoporose {
    text-align: justify;
}


.linha-checkboxes {
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.coluna-esquerda {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.coluna-direita {
    margin-top: 2rem;

}

.titulo-protocolos {
    position: relative;
    width: 286px;
    right: 15px;
    font-size: 1.5rem;
    height: 35px;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: var(--rosa);

}

.content-serviços {
    display: flex;
    width: 15%;
    align-items: center;
    /* justify-content: flex-start; */
    flex-direction: column;
    position: relative;
    right: 77rem;
    bottom: 28rem;
    background-color: var(--roxo-bg);
}

.titulo-serviços {
    width: 100%;
    background-color: var(--roxo);
    color: white;
    text-align: center;
    font-weight: bold;

    font-size: 1.5rem;
    height: 35px;

}