

/* Container principal */
.localizacao-container {
  display: flex;
  justify-content: center;
  height: 310px;
}

/* Container do mapa e info lado a lado */
.mapa-com-info {
  display: flex;

  width: 100%;
  overflow: hidden;
 
}

/* Mapa ocupa 2/3 */
.mapa {
  flex: 2;
  min-width: 200px;
  height: 100%;
}

.mapa iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Lateral de informações */
.info-lateral {
  flex: 1;
  font-size: 0.95rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0;
  padding: 0.5rem;
}

/* Estilo da info-strong com controle de posição */
.info-strong {
  background: var(--verde-claro);
  padding: 1rem;
  text-align: center;
  color: var(--azul-texto);
  font-size: 0.85rem;
  order: 0;

}



/* Posição padrão (meio) */
.info-strong.meio {
  order: 0;
  position: relative;
  right: 5rem;
  z-index: 5;
}

.info-acessibilidade.com-icone {
  display: flex;
  gap: 0.5rem;
  color: var(--azul-texto);
  font-weight: bold;
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.info-acessibilidade.sem-icone {
  color: var(--verde-claro);
  font-weight: normal;
  font-size: 0.7rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/* Posicionar abaixo */
.info-strong.embaixo {
  order: 1;
  margin-top: 1rem;
  align-self: flex-end;
}

/* Estilo para o bloco de acessibilidade */
.info-acessibilidade {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info-acessibilidade p {
  margin: 0;
  color: var(--azul-texto);
  font-weight: bold;
  font-size: 0.7rem;
  line-height: 1.2;
}

/* Informações finais da lateral */
.info-lateral-end p {
  color: var(--verde-claro) !important;
  font-weight: lighter;
  margin: 0;
  font-size: 0.7rem;
  line-height: 1.3;
}

/* Título principal */
.titulo-localizacao {
  font-weight: 600;
  color: var(--verde-claro);
  font-size: 1.4rem;
  text-transform: uppercase;
  
}

